.welcome-container {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  h6 {
    font-size: 1.2rem;
    color: #666;
  }
  
  mat-toolbar {
    padding: 0 20px;
  }
  
  mat-toolbar a {
    text-decoration: none;
    margin-right: 15px; /* Optional: Add some space between links */
  }
  
  mat-toolbar a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 600px) {
    h1 {
      font-size: 2rem;
    }
  
    h6 {
      font-size: 1rem;
    }
  }
  