<div class="container">
  <div class="visible-products section">
    <h2>Products</h2>
    <input type="text" [(ngModel)]="filterTerm" (input)="filterProducts()" placeholder="Filter products by name" />

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of filteredProducts">
          <td>{{ product.name }}</td>
          <td>{{ product.price | currency }}</td>
          <td>{{ product.qty }}</td>
          <td>
            <button (click)="addToCart(product)" [disabled]="product.qty === 0">Add to Cart</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="cart section">
    <h2>Cart</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart; let i = index">
          <td>{{ productMap.get(item.productId)?.name }}</td>
          <td>{{ productMap.get(item.productId)?.price | currency }}</td>
          <td>
            <input type="number" [(ngModel)]="item.quantity" (change)="updateCartItem(item)" [disabled]="productMap.get(item.productId)?.qty === 0" min="1" />
          </td>
          <td>
            <button (click)="removeFromCart(i)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
    <p>Total Price: {{ calculateTotalPrice() | currency }}</p>
  </div>
</div>

<!-- Display the error message -->
<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>
